.Extras {
  background: $color-bg-alt;
  @include rhythm(1, 1, 1, 1, 16px);
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -8px;
    height: 8px;
    z-index: 100;
    border-top: 1px solid $color-border;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -8px;
    height: 8px;
    z-index: 100;
    border-bottom: 1px solid $color-border;
  }
}