$text-default: "freight-text-pro", Georgia, serif;
$text-headings: "jaf-facitweb", Arial, sans-serif;
$text-monospace: "courier-prime", monospace;

$color-link: #d33f13;
$color-link--heading: #443c3d;

$color-text: #333;
$color-text-meta: #cfcfcf;


$color-bg-alt: #efefef;
$color-border: $color-bg-alt;


$base-font-size: 16px;
$base-line-height: 24px;
